name: Publish Python Package to PyPI

# This workflow runs when you publish a new Release on GitHub
on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    
    # IMPORTANT: These permissions are required for Trusted Publishing
    permissions:
      id-token: write  
      contents: read   

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: python -m pip install --upgrade pip build

      - name: Build the package
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
            verbose: true
